:root {
	// Colors
	--primary: #1b1b1b;
	--accent: #e50914;
	--gray: #767676;
	--lightGray: #e5e5e5;

	// Fonts
	--font-family: "Open Sans", sans-serif;
	--font-size: 16px;
	--line-height: 1.1;
	--letter-spacing: 0.04em;

	//   Animation
	--anim: 0.3s ease;
}
