<header class="header">
	<div class="header__container container">
		<a href="#" class="header__logo">Mova</a>
		<div class="search">
			<form class="search__form">
				<div class="search__icon">
					<svg width="20" height="20">
						<use href="./images/icons.svg#search"></use>
					</svg>
				</div>
				<input type="text" placeholder="Search" class="search__input">
			</form>
		</div>
		<ul class="header__actions-list">
			<li class="header__actions-item">
				<button type="button" class="header__actions-link search-btn">
					<svg class="header__actions-icon search-btn" width="20" height="20">
						<use href="./images/icons.svg#search"></use>
					</svg>
					Search
				</button>
			</li>
			<li class="header__actions-item">
				<a href="#" class="header__actions-link">
					<svg class="header__actions-icon" width="20" height="20">
						<use href="./images/icons.svg#favorite"></use>
					</svg>
					My list
				</a>
			</li>
			<li class="header__actions-item">
				<a href="#" class="header__actions-link">
					<svg class="header__actions-icon" width="20" height="20">
						<use href="./images/icons.svg#user"></use>
					</svg>
					Sing up
				</a>
			</li>
		</ul>
	</div>
</header>